* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #2f2f2f;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #360745;
  padding: 20px 40px;
}

.logo img {
  width: 200px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex: 1;
  margin: 0;
}

.nav li {
  margin: 0 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.search-box {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background-color: #9a72b3;
  color: white;
  font-size: 16px;
  width: 550px;
  margin-left: 20px;
  display: block;
}

.search-box::placeholder {
  color: white;
}

.user-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

/* Sección de Buzón */
.buzon-section {
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
  margin: 50px auto;
}

.buzon-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.options button {
  background-color: #6c4f9b;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px; /* Cambié a un valor más pequeño para bordes redondeados */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Añadí transición */
  display: inline-block;
}

.options button:hover {
  background-color: #00bcd4; /* Cambia a celeste al pasar el mouse */
  transform: scale(1.1); /* Aumenta el tamaño del botón */
}

/* Caja del formulario */
.form-container {
  background-color: #9552E4;
  border-radius: 10px;
  padding: 20px;
}

.buzon-form .input-group {
  margin-bottom: 20px;
}

.buzon-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.buzon-form input {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 15px; /* Cambié a un valor más pequeño para bordes redondeados */
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.buzon-form .input-group-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Estilo de los botones de "Enviar" */
.buzon-form .submit-btn {
  width: auto; /* Asegura que el botón tenga solo el tamaño necesario */
  margin: 0 auto; /* Centra el botón horizontalmente */
  display: block;
  padding: 12px 20px;
  background-color: #6c4f9b;
  color: white;
  border: none;
  border-radius: 15px; /* Cambié a un valor más pequeño para bordes redondeados */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buzon-form .submit-btn:hover {
  background-color: #00bcd4; /* Cambia a color celeste cuando se pasa el mouse */
  transform: scale(1.1); /* Hace que el botón crezca un poco */
}
